.main-container{
  height: 100vh;
  width: 90%; 
  border: 1px solid black;
  padding: 20px;
  margin: auto;
  margin-top: 30px;
}
.input-container{
  display: flex;
  justify-content: center;
}
#btnn{
  margin-left: 20px;
}
.input-box{
  height: 40px;
  width: 60%;
  /* text-align: center; */
}